*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'baloo_2regular';
    scroll-behavior: smooth;
}

/* Pre-Loader */
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #387ADF;
    transition: opacity 5s, visibility 0.75s;
    z-index: 2000;
}

.preloader_hidden{
    opacity: 0;
    visibility: hidden;
}

.preloader::after{
    content: '';
    width: 40px;
    height: 40px;
    border: 4px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}


/* Header */
header{
    width:100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    transition: all 1s ease-in-out;
}

/* Sticky NavBar */
header.sticky{
    height: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.459);
    background-color: #ffffff;
}


header.sticky .logo_img{
    width: 130px;

    
    @media(max-width:600px){
        width: 120px;
    }

    @media(max-width:350px){
        width: 110px;
    }
}

header.sticky .menu{
    margin-top: -0.5%;
}


header .logo{
    flex: 1;
    margin-left: 15%;

    @media(max-width:1040px){
        margin-left: 10%;
    }
}

.logo_img{
    width: 150px;
    transition: all 1s ease-in-out;

    @media(max-width:600px){
        width: 140px;
    }

    @media(max-width:350px){
        width: 130px;
    }
}


header .main_nav {
    flex:2;
    display: flex;
    align-items: center;
    gap: 1%;
    margin-right: 10%;

    @media(max-width:1150px){
        margin-right: 5%;
    }

    @media(max-width:1040px){
        margin-right: 8%;
    }

    @media(max-width:980px){
        margin-right: 5%;
    }
}

header .main_nav li{
    list-style: none;
}

header .main_nav li a{
    font-size: 19px;
    font-weight: 900;
    color: #387ADF;
    font-family: 'baloo_2medium';
    text-decoration: none;
    padding: 0px 15px;
    transition: 0.7s ease-in-out;
    position: relative;

    @media(max-width:940px){
        display: none;
    }
}

header .main_nav li .active_nav{
    color: #252525;
}

header .main_nav li a:hover{
    color: #252525;
}

header .main_nav li i{
    font-size: 25px;
}

.header_button{
    cursor: pointer;
    border: 3px solid #387ADF;
    padding: 0.5% 3%;
    background-color: transparent;
    color: #387ADF;
    font-size: 18px;
    font-weight: 700;
    border-radius: 500px;
    text-align: center;
    transition: 0.5s ease-in-out;
    margin-right: 15%;

    @media(max-width:1288px){
        margin-right: 10%;
    }

    @media(max-width:1188px){
        margin-right: 7%;
    }

    @media(max-width:940px){
        display: none;
    }
}

.header_button:hover{
    background-color: #387ADF;
    color: #ffffff;
}


/* Ham Menu */
.menu{
    cursor: pointer;
    height: 40px;
    width: 35px;
    margin-left: 81%;
    position: absolute;
    display: none;

    @media(max-width:940px){
        display: flex;
        z-index: 20;
    }

    @media(max-width:620px){
        margin-left: 80%;
    }

    @media(max-width:500px){
        margin-left: 79%;
    }

    @media(max-width:430px){
        margin-left: 78%;
    }

    @media(max-width:390px){
        margin-left: 77%;
    }

    @media(max-width:330px){
        margin-left: 76%;
    }

    @media(max-width:300px){
        margin-left: 75%;
    }
}


.menu span{
    height: 3.5px;
    width: 85%;
    background-color: #387ADF;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.menu:hover span:nth-child(1){
    width: 60%;
}

.menu:hover span:nth-child(3){
    width: 60%;
}

.menu span:nth-child(1){
    top: 25%;
}

.menu span:nth-child(3){
    top: 75%;
}

.menu.active span {
    background-color: #ffffff;
}

.menu.active span:nth-child(1){
    top: 7%;
    width: 30px;
    left: 93%;
    position: fixed;
    transform: translate(-50%, -50%) rotate(45deg);

    @media(max-width:520px){
        top: 8%;
        left: 88%;
    }

    @media(max-width:420px){
        top: 7%;
        left: 85%;
    }
}

.menu.active span:nth-child(2){
    opacity: 0;
}

.menu.active span:nth-child(3){
    top: 7%;
    left: 93%;
    width: 30px;
    position: fixed;
    transform: translate(-50%, -50%) rotate(-45deg);
    
    @media(max-width:520px){
        top: 8%;
        left: 88%;
    }

    @media(max-width:420px){
        top: 7%;
        left: 85%;
    }
}


/* Off Screen Menu */
.offScreenMenu{
    background-color: #252525;
    height: 100vh;
    width: 50%;
    z-index: 20;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 15px;
    transition: .3s ease;

    @media(max-width:420px){
        width: 70%;
    }

    @media(max-width:300px){
        width: 100%;
    }
}

.offScreenMenu.active{
    right: 0;
}

.offScreenMenu{
    li{

        a{
            color: #ffffff83;
            transition: 0.5s ease-in-out;
            text-decoration: none;
        }
    }
}

.offScreenMenu{
    .profile_links{
        display: flex;
        justify-content: center;
        a{
            i{
                font-size: 30px;
            }
        }
    }
}

.offScreenMenu{
    ul{
        li{
            .active_nav_ham{
                font-weight: 600;
                color: #ffffff;
            }
        }
    }
}

.offScreenMenu{
    ul{
        li{
            a:hover{
                color: #ffffff;
                font-weight: 600;
            }
        }
    }
}

.ham_button{
    cursor: pointer;
    border: 1px solid #387ADF;
    width: 100px;
    padding: 2% 10%;
    background-color: transparent;
    color: #387ADF;
    font-weight: 700;
    border-radius: 500px;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.ham_button:hover{
    background-color: #387ADF;
    color: #ffffff;
}

.overall_container{
    margin: 0 15%;
}

/* Hero Section */
#hero_section{
    width: 100%;
    height: 110vh;
    background-image: url(../assets/images/hero.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    background-attachment: fixed;

    @media(max-width:900px){
        background-image: url(../assets/images/hero3.png);
    }

    @media(max-width:600px){
        background-image: url(../assets/images/mobile-hero.png);
    }
}

.hero_banner_text{
    font-size: 40px;
    font-family: 'baloo_2semibold';
    width: 50%;

    @media(max-width:600px){
        width: 90%;
    }

    @media(max-width:420px){
        width: 100%;
        font-size: 30px;
    }

    span{
        font-family: 'baloo_2bold';
    }

    .ai{
        color: #387ADF;
    }
}

.hero_download{
    border: none;
    cursor: pointer;
    background-color: #252525;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 1% 4%;
    margin-top: 5%;
    border-radius: 500px;
    transition: 0.5s ease-in-out;

    @media(max-width:690px){
        padding: 2% 7%;
    }

    @media(max-width:420px){
        padding: 2% 9%;
    }

    @media(max-width:420px){
        padding: 2.5% 11%;
    }

    img{
        width: 25px;
    }
}

.hero_download:hover{
    background-color: #387ADF;
}

/* Features */
#features{
    padding: 8% 0;

    @media(max-width:900px){
        padding: 8% 0 25% 0;
    }

    @media(max-width:830px){
        padding: 8% 0 30% 0;
    }

    @media(max-width:770px){
        padding: 8% 0 35% 0;
    }

    @media(max-width:660px){
        padding: 8% 0 40% 0;
    }

    @media(max-width:600px){
        padding: 8% 0 45% 0;
    }

    @media(max-width:550px){
        padding: 8% 0 50% 0;
    }

    @media(max-width:530px){
        padding: 8% 0 55% 0;
    }

    @media(max-width:520px){
        padding: 8% 0 70% 0;
    }

    @media(max-width:450px){
        padding: 8% 0 80% 0;
    }

    @media(max-width:420px){
        padding: 8% 0 85% 0;
    }    

    @media(max-width:385px){
        padding: 8% 0 95% 0;
    }

    @media(max-width:340px){
        padding: 8% 0 105% 0;
    }

    @media(max-width:315px){
        padding: 8% 0 115% 0;
    }

    @media(max-width:295px){
        padding: 8% 0 125% 0;
    }

    @media(max-width:270px){
        padding: 8% 0 135% 0;
    }
}

.features_grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;

    @media(max-width:900px){
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width:520px){
        grid-template-columns: 1fr;
        gap: 2%;
    }
}

.features_head_img{
    display: flex;
    justify-content: center;
}

.down_img{
    position: relative;
    transition: 0.5s ease-in-out;
    width: 40px;
    z-index: 1;
}

.top_img{
    position: absolute;
    z-index: 0;
    opacity: 1;
    width: 40px;
}

.feature_card{
    padding: 4% 6%;
    border: 3px solid #387ADF;
    border-radius: 15px;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.feature_head{
    font-size: 18px;
    font-family: 'baloo_2bold';
    margin-top: 5%;
    color: #252525;
    transition: 0.5s ease-in-out;
}

.feature_description{
    margin-top: 7%;
    color: #252525;
    transition: 0.5s ease-in-out;
}

.feature_card:hover{
    background-color: #387ADF;
    color: #ffffff;
}

.feature_card:hover .top_img{
    opacity: 1;
}

.feature_card:hover .down_img{
    opacity: 0;
}

.feature_card:hover .feature_head{
    color: #ffffff;
}

.feature_card:hover .feature_description{
    color: #ffffff;
}

/* App Interface */
#app_interface{
    padding: 5% 0;
}

.app_interface_head{
    font-size: 30px;
    color: #252525;
    font-family: 'baloo_2bold';
    margin-bottom: 2%;

    span{
        color: #387ADF;
        font-family: 'baloo_2bold';
    }
}

.interface_container{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/interface.png);
    background-size: cover;
    background-position: center;
}

/* About DzidzAI */
#about_dzidzai{
    padding: 5% 0;
}

.about_head{
    font-size: 30px;
    color: #252525;
    font-family: 'baloo_2bold';
    margin-bottom: 2%;

    span{
        color: #387ADF;
        font-family: 'baloo_2bold';
    }
}

/* Our Story */
.story_img{
    position: absolute;
    width: 200px;
    opacity: 0.5;
    margin-left: -5%;
    margin-top: -3%;
}

.story_container{
    position: relative;
}

.story_head{
    font-size: 30px;
    color: #252525;
    font-family: 'baloo_2bold';
    margin-bottom: 2%;
}

.story_description{
    color: #252525;
    width: 60%;

    @media(max-width:700px){
        width: 100%;
    }
}

/* Mission */
.mission{
    margin: 10% 0 0 40%;

    @media(max-width:700px){
        margin: 15% 0 0 0;
    }
}

.mission_img{
    position: absolute;
    width: 200px;
    opacity: 0.5;
    margin-left: -5%;
    margin-top: -1%;
}

.mission_description{
    color: #252525;
}


/* Vision */
.vision{
    margin: 10% 0 0 0;

    @media(max-width:700px){
        margin: 15% 0 0 0;
    }
}

.vision_img{
    position: absolute;
    width: 200px;
    opacity: 0.5;
    margin-left: -5%;
    margin-top: -1%;
}

.vision_description{
    color: #252525;
    width: 60%;

    @media(max-width:700px){
        width: 100%;
    }
}

/* Values */
.values{
    margin: 10% 0 0 40%;

    @media(max-width:700px){
        margin: 15% 0 0 0;
    }
}

.values_img{
    position: absolute;
    width: 200px;
    opacity: 0.5;
    margin-left: -5%;
    margin-top: -1%;
}

.values_description{
    color: #252525;
}
/* Privacy Policy */
#privacy_policy{
    padding: 10% 0 5% 0;
}

.privacy_policy_head{
    font-size: 30px;
    color: #252525;
    font-family: 'baloo_2bold';
    margin-bottom: 2%;
}

.privacy_policy_par{
    color: #252525;

    span{
        font-family: 'baloo_2extrabold';
    }
}

/* Contact Section */
#contact{
    margin: 8% 0;

    @media(max-width:700px){
        margin: 20% 0 8% 0;
    }
}

.contact_section_grid_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;

    @media(max-width:700px){
        grid-template-columns: 1fr;
    }
}

.contact_details_details_container{
    margin-top: 3%;
}

.conact_details_head{
    font-weight: 600;
}

.email, .number{
    display: flex;
    align-items: center;
    color: #252525;
    transition: 0.5s ease-in-out;

    i{
        margin-right: 1%;
        transition: 0.5s ease-in-out;
    }
}

.email:hover, .number:hover{
    color: #387ADF;
}

.email a, .number a{
    color: #252525;
    transition: 0.5s ease-in-out;
}

.email a:hover, .number a:hover{
    color: #387ADF;
}

/* Form */
.form{
    display: flex;
    flex-direction: column;
}

.form label{
    font-weight: 600;
}

.form label[for="email"], label[for="subject"], label[for="message"], button[type="submit"]{
    margin-top: 3%;
}

.form input, select, textarea, button[type="submit"]{
    outline: none;
    padding: 1% 3%;
    font-size: 16px;
    border-radius: 4px;
}

.form button[type="submit"]{
    cursor: pointer;
    background-color: #387ADF;
    color: #ffffff;
    font-weight: 600;
    border: none;
}

/* Footer */
footer{
    background-color: #387ADF;
    padding: 5% 0;

    @media(max-width:700px){
        margin-top: 5%;
        padding: 5% 0 20% 0;
    }

    @media(max-width:400px){
        padding: 5% 0 30% 0;
    }
}

.footer_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4%;

    @media(max-width:700px){
        grid-template-columns: 1fr;
    }
}

.footer_logo{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width:700px){
        align-items: start;
    }
}

.logo_name{
    font-size: 20px;
    font-family: 'baloo_2extrabold';
    color: #252525;

    span{
        color: #ffffff;
        font-family: 'baloo_2extrabold';
    }
}

.footer_phone{
    width: 50%;
}

.quick_links{
    margin-left: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media(max-width:700px){
        margin-left: 0;
    }
}

.quick_links_head{
    font-size: 20px;
    font-family: 'baloo_2extrabold';
    color: #ffffff;
    margin-bottom: 5%;
}

.quick_links ul li a{
    color: #ffffff;
    transition: 0.5s ease-in-out;
}

.quick_links ul li{
    margin-bottom: 5%;
}

.quick_links ul li a:hover{
    color: #252525;
}

.footer_button{
    border: 2px solid transparent;
    cursor: pointer;
    color: #252525;
    padding: 2% 7%;
    font-size: 15px;
    border-radius: 500px;
    transition: 0.5s ease-in-out;
}

.footer_button:hover{
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.subscription{
    display: flex;
    flex-direction: column;
}

.subscription_head{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 5%;
}

.subscription_input{
    padding: 2% 3%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
}

.subscription_btn{
    border-radius: 5px;
    margin-top: 5%;
    padding: 2%;
    border: 2px solid transparent;
    cursor: pointer;
    color: #252525;
    font-size: 16px;
    transition: 0.5s ease-in-out;
}

.subscription_btn:hover{
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.footer_policy{
    border-top: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer_policy_link{
    color: #ffffff;
    transition: 0.5s ease-in-out;
    margin-top: 1%;
}

.footer_policy_link:hover{
    color: #252525;
}